.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: justify;
    align-items: center;
}



/*---------------------MENU----------------------*/
#menu li {
    display: inline;
    padding: 16px;
}

#menu {
    background-color: black;
}

#menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 1px solid white;
}

#menu li a:hover {
    color: red;
    font-size: 20px;
    background-color: #141414;
}

/*---------------------FUNDOS----------------------*/
.fundoblack {
    background-color: black;
}

.fundowhite {
    background-color: white;
}

/*____________________TEXTO E TITULO______________*/
.texto {
    color: white;
    column-count: 2;
    column-gap: 30px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: red;
    text-justify: auto;
}

.title {
    color: white;
    font-size: 64px;
}

.title:hover {
    color: red;
}

.p-66 {
    padding: 10px;
    padding-left: 66px;
    padding-right: 66px;
}
/*___________IMAGENS______________________*/
#imagem1 {
    width: 347px;
    height: 283px;
    padding-top: 30px;
    padding-right: 15px;
}

#imagem {
    width: 100%;
    padding-bottom: 6%;
}

#imagem2 {
    width: 50%;
    border: 15px solid darkred;
    border-radius: 15%;
    }
/*________________IMAGENS LOJA________________*/

.lojaImagem{
    width:30%;
}
.lojaImagem2{
    padding-top: 2%;
    width: 60%;
    padding-left: 4%;
}


.lojaButton{
    display: inline;
    width: 100px;
    height: 50px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 1px solid white;
}

.paragrafoLoja{
    color: white;
    width: 50%;
    word-break: break-word;
    padding: 1px;
}





/*___________________________________________-*/
.wh-social {
    width: 40px;
    height: 40px;
}

.social {
    border: 1px solid white;
    border-radius: 100%;
    background-color: white;
}

.social:hover {
    border: 1px solid red;
    border-radius: 100%;
    background-color: red;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-20{
    margin-left: 12%;
}

.conquista {
    text-decoration: none;
    color: red;
}

#fundo {
    background-image: linear-gradient(black, rgb(70, 0, 0))
}

.paragrafowhite {
    color: white;
}

.video1 {
    border: solid white 15px;
    border-radius: 15%;
}

.mapa{
    padding-left: 50px;
}

.mt-25{
    margin-top: 25px;
}

/*----------------BOTÃO DE COMPRAR-------------------*/

.button{
    display: inline;
    padding: 16px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 1px solid white;
}

.button :hover {
    color: red;
    font-size: 20px;
    background-color: #141414;
}